@use "./stars";
@use "./mountains";
@use "./trees";
@use "./sun";
@use "./sky";

:root {
  --text: #fff;
  //--bg: linear-gradient(180deg, rgb(18, 7, 74) 37%, rgb(32, 70, 194) 100%);
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  letter-spacing: 0.18px;
  color: var(--text);
  //background: var(--bg);
  font-synthesis: none;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.hidden {
  display: none;
}

body {
  margin: 0;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  color: var(--text);
}

h1 {
  font-size: 40px;
  letter-spacing: -1.68px;
  margin: 0;
}

p {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

#app {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

button {
  font-family: var(--mono);
  font-size: 14px;
  padding: 12px 24px;
  margin: 0.8rem;
  border: 1px solid #7a76ee;
  background: none;
  color: #7872c3;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}
